<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title is here</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>


<div class="container">

    <h2>Welcome !</h2>
    <form action="" method="post" role="form">
        {{ form.csrf }}


        <div class="form-group">


            <label for="name">Login:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Login.">
            <br>

            <br>
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="E-mail.">
            <br>

            <br>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password.">
            <br>


        </div>


        <button type="submit" class="btn btn-success">Click !</button>

    </form>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}


    <div class="alert alert-info">
                <strong>Success!</strong> {{ message[1] }}
    </div>

    {% endif %}

    {% if "Error" in message[1]: %}

        <div class="alert alert-warning">
                {{ message[1] }}
        </div>

    {% endif %}

    {% endfor %}

    {% endif %}

    {% endwith %}

</div>

    <form action="handler.php">
        <p><b> Which button ? </b></p>
        <label for="name">Radiobutton № 1</label>
        <p><input name="os_release" id="centos" type="radio" value="rbtn2"> Radiobutton № 1 </p>
        <label for="name">Radiobutton № 2</label>
        <p><input name="os_release" id="ubuntu" type="radio" value="rbtn2"> Radiobutton № 2 </p>
    </form>


    <form method="post">
        <div class="radio-group-srvc">

            <strong><label for="name"> Which checkbox ? </label></strong>

            <br>
            <br>


            <label for="name">Checkbox1 :</label>
            <input type = 'checkbox'>

            <br>
            <br>

            <label for="name">Checkbox2 :</label>
            <input type = 'checkbox'>

            <br>
            <br>

            <label for="name">Checkbox3 :</label>
            <input type = 'checkbox'>

        </div>

    </form>

</body>
</html>
