<!DOCTYPE html>
<html>

  <head>
    <title>Researcher logs</title>
  </head>

  <link rel="stylesheet" href="/static/style.css">

  <body>

    <header>
      <div class="container">
        <h1 class="logo">Researcher logs</h1>
        <strong>
          <nav>
            <ul class="menu">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('entries') }}">Entries</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
          </nav>
        </strong>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>